**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/.DS_Store
**/bin
**/obj
**/out
**/*.user
**/*.suo
**/node_modules
**/npm-debug.log
**/appsettings.Development.json
**/appsettings.Local.json
**/.env
**/.env.local
**/Dockerfile*
**/docker-compose*
**/*.md
**/LICENSE
